repositorie:
  prefix: "https://github.com"
  owner: "fengshangwuqi"
  repo: "Daily-Front-End-News"
  extensionRepo: "chrome-Daily-Front-End-news"
  params:
    branch: "master"
    folder: "history"
    file: "README.md"
content:
  tag: ["JavaScript", "资源", "工具", "新闻"]
cloudinary:
  config:
    cloud_name: ""
    api_key: ""
    api_secret: ""
  image:
    public_id: "cover"
		overwrite: true
		gravity: "auto"
		quality: "auto"
		width: 600
		crop: "fill"
		format: "jpg"
		tags: ["Daily-Front-End-news"]
variable:
  coverPath: "cover.png"
  currDaily:
    year:
    month:
    day: